/*body{
	background: url("pattern-1.png") !important; 
	background-repeat: repeat !important;
}*/
.bs-footer{
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 100px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}